libX11
libXext
libXrender
mesa-libgl
mesa-libegl
mesa-dri-drivers
libXau
alsa-lib
gtk2
gtkmm24
libdrm
libXcomposite
libXcursor
libXi
libXrandr
pciutils
libXScrnsaver
libXtst
libselinux
libXdamage
libXfixes
libXxf86vm
libSM
libICE
libxcb
expat
pcre
libglvnd-glx
libglvnd-egl
libxkbcommon
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
