libx11
libxext
libxrender
mesa-libgl
mesa-libegl
mesa-dri-drivers
libxau
alsa-lib
gtk2
gtkmm24
libdrm
libxcomposite
libxcursor
libxi
libxrandr
pciutils
libxscrnsaver
libxtst
libselinux
libxdamage
libxfixes
libxxf86vm
libsm
libice
libxcb
expat
pcre
libglvnd-glx
libglvnd-egl
libxkbcommon
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
